<!DOCTYPE html>
<html>
  <head>
    
    <title> Web Layout </title> 
    
    <style>
      
      * {
      box-sizing : border-box ;
      }
      
      body {
       margin :0;
      } 
      
      
      header {
      background-color: gray ;
      text-align : center ;
      padding :20px ;
      color: pink ; 
      }
      
      .navbar {
       background-color: lavender ;
      height : 50px; 
      } 
      
      aside{
      width:20% ;
      padding : 10px ; 
      }
      
      section{
      width:40%;
   padding : 10px ;
      }
      
      article{
      width:40%;
    padding : 10px ;
      }
      
      footer {
      display: block ; 
      clear: both ; 
      background-color: gray ;
      text-align : center ;
      padding :20px ;
      color: pink ; 
      }
      
      @media screen and ( max-width : 600px) {
      aside,section,article {
      widthL 100% ;
      } 
      } 
      
    </style> 
    
  </head>
  
  
  <body>
    
    
    <header>
      <h2> Header </h2>
    </header>
    
    
    <nav class = "navbar">
    </nav>
    
    <main>
      
      <aside>
        
        <h2> This is Aside</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> 
        
      </aside>
      
      <section>
         <h2> This is Section</h2>    
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> 
        
        </section>
      
      <article>
        
         <h2> This is Article</h2>  
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> 
        
      </article>
    
      
    </main>
    
    <footer>
      <h2> footer</h2> 
    </footer> 
    
    
  </body> 
  
</html>
